<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get thumbnail</title>
    <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
</head>
<body>
    <div style="margin-bottom: 20px;">
        <form action="/get-thumbnail" method="POST" >
            Link: <input type="text" name="link" id="link" style="width: 400px;">
            <button type="button" id="submit-link">Load</button>
        </form>
    </div>

    <div id="image-render">

    </div>

    <script>
        $(document).ready(function(){
            $("#submit-link").click(function(){
                $.ajax({
                    url: "/get-thumbnail",
                    type: "post",
                    data: {
                        link: $("#link").val()
                    },
                    success: function(res){
                        $('#image-render').html(res);
                    }
                })
            });
        });
    </script>
</body>
</html>