<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get thumbnail</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get thumbnail</title>
    <style>
        @font-face {
            font-family: Avo;
            src: url(public/font/UTM-Avo.ttf);
        }
        @font-face {
            font-family: Avo;
            src: url(public/font/UTM-AvoBold.ttf);
            font-weight: bold;
        }

        *{
            font-family: Avo;
        }

        hr{
            border: none;
            height: 9px;
            /* Set the hr color */
            color: #ff3c00; /* old IE */
            background-color: #ff3c00; /* Modern Browsers */
        }
    </style>
    <script>
        function screenshot(hihi) {
            var node = document.getElementById("render-page-" + hihi);
        //   domtoimage.toJpeg(node)
        //     .then(function(img) {
        //         var link = document.createElement('a');
        //         link.download = 'thumbnail.jpeg';
        //         link.href = img;
        //         link.click();
        //     })

        domtoimage.toPng(node)
            .then(function (dataUrl) {
                console.log(dataUrl);
                var img = new Image();
                img.src = dataUrl;
                // var w = window.open("");
                // w.document.write(img.outerHTML);
                document.body.appendChild(img);
            })
            .catch(function (error) {
                console.error('oops, something went wrong!', error);
            });

        } 
      </script>
      <script src="../public/dom-to-image.js" async></script>
    <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
</head>
<body>
    <div style="margin-bottom: 20px;">
        <form action="/get-thumbnail" method="POST" >
            Link: <textarea type="text" name="link" id="link" cols="100" rows="10"></textarea>
            <button type="button" id="submit-link">Load</button>
        </form>
    </div>

    <div id="image-render">

    </div>

    <script>
        $(document).ready(function(){
            $("#submit-link").click(function(){
                var links = $("#link").val();
                var linkArray = links.split("\n");
                if(linkArray.length > 0){
                    for(i = 0; i < linkArray.length; i++){
                        var render_page = "render-page" + i;
                        let x = "render-page" + i;
                        $.ajax({
                            url: "/get-thumbnail",
                            type: "post",
                            data: {
                                link: linkArray[i]
                            },
                            success: function(res){
                                $('#image-render').append(res);
                            }
                        })
                    }
                }
            });
        });
    </script>
</body>
</html>